################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
*.v2
*.suo
*.user
_ReSharper.*
bin
obj
packages
